// Color
$color-primary: #2D2D2D;
$color-title: #212121;
$color-hover: #72A95A;
$color-white: #ffffff;
$color-link: #72A95A;
$color-three: #000000;

// Background
$background-primary: #72A95A;
$background-hover: #ff5555;
$background-second: rgba(0,0,0,.6);
$background-submenu: #ffffff;

// Border color
$border-color: #eeeeee;