.element-post-grid {
  .title {
    text-align: center;
  }
  .item-post {
    margin-bottom: 30px;

    .item-post__thumbnail {
      margin-bottom: 15px;

      a {
        display: block;
      }
    }
    .item-post__content {
      margin-top: 15px;

      p {
        margin: 0;
        font-size: 14px;
      }
    }
  }
}