.element-project-carousel {
  .top-box {
    margin-bottom: 40px;
    width: 96%;

    .heading {
      font-size: 34px;
      margin: 0 24px 0 0;
    }

    .line {
      height: 1px;
      background-color: #D3D3D3;
      @include transform(translateY(2px));
    }
  }

  .item-post {
    &__thumbnail {
      overflow: hidden;
      border-radius: 10px;
    }

    &__caption {
      display: none;
    }
  }

  .owl-carousel {
    .owl-nav {
      margin: 0;
      position: absolute;
      top: -76px;
      right: 0;

      button {
        &.owl-prev {
          &:after {
            position: absolute;
            content: "";
            top: 3px;
            right: -10px;
            width: 1px;
            height: 70%;
            background-color: #000000;
          }
        }
      }
    }
  }
}