.element-project-carousel {
  .top-box {
    margin-bottom: 40px;
    width: 96%;

    .heading {
      font-size: 34px;
      margin: 0 24px 0 0;
    }

    .line {
      @include transform(translateY(2px));
    }
  }

  .item-post {
    &__thumbnail {
      cursor: pointer;
      overflow: hidden;
      border-radius: 10px;
    }
  }

  .owl-carousel {
    .owl-nav {
      margin: 0;
      position: absolute;
      top: -76px;
      right: 0;

      button {
        &.owl-prev {
          &:after {
            position: absolute;
            content: "";
            top: 3px;
            right: -10px;
            width: 1px;
            height: 70%;
            background-color: #000000;
          }
        }
      }
    }
  }
}

.projec-fancybox-custom {
  .fancybox-caption {
    margin: 0;
    padding: 0;
    background: transparent;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  }

  .project-caption-item {
    display: none;
    padding-top: 75px;
    padding-bottom: 37px;
    background: rgba(0,0,0,0.7);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);

    .title-item {
      margin-bottom: 7px;
      color: #ffffff;
      font-size: 24px;
      text-transform: uppercase;
    }

    a {
      color: #FFE025;
    }
  }

  .fancybox-content {}
}