.element-project-carousel {
  .top-box {
    margin-bottom: 40px;
    width: 96%;

    .heading {
      font-size: 34px;
      margin: 0 24px 0 0;
    }

    .line {
      @include transform(translateY(2px));
    }
  }

  .item-post {
    @include flex(1);

    &__thumbnail {
      cursor: pointer;
      overflow: hidden;
    }
  }

  .owl-carousel {
    .owl-nav {
      margin: 0;

      button {
        line-height: normal;
      }
    }
  }

  &.style-1 {
    .item-post {
      &__thumbnail {
        border-radius: 10px;
      }
    }

    .owl-carousel {
      .owl-nav {
        position: absolute;
        top: -76px;
        right: 0;

        button {
          &.owl-prev {
            &:after {
              position: absolute;
              content: "";
              top: 3px;
              right: -10px;
              width: 1px;
              height: 70%;
              background-color: #000000;
            }
          }
        }
      }
    }
  }

  &.style-2 {
    .owl-carousel {
      .owl-nav {
        margin: 0;

        button {
          position: absolute;
          top: 50%;
          @include transform(translateY(-50%));

          &.owl-prev {
            left: 10px;
          }

          &.owl-next {
            right: 10px;
          }

          i {
            color: #ffffff;
          }
        }
      }
    }
  }
}

.projec-fancybox-custom {
  .fancybox-caption {
    margin: 0;
    padding: 0;
    background: transparent;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  }

  .project-caption-item {
    display: none;
    padding-top: 75px;
    padding-bottom: 37px;

    .title-item {
      margin-bottom: 7px;
      color: #ffffff;
      font-size: 24px;
      text-transform: uppercase;
    }

    a {
      color: #FFE025;
    }
  }

  .fancybox-content {}
}