.element-service {
  .custom-row {
    margin-left: -10px;
    margin-right: -10px;
  }

  .custom-col {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
  }

  &__item {
    padding: 20px;

    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.03);

    .sub-title {
      font-size: 12px;
      color: #858585;
      margin-bottom: 2px;
    }

    .title {
      margin-bottom: 20px;
      color: $color-three;
    }

    .box-image {
      margin-bottom: 12px;

      a {
        display: block;
        overflow: hidden;
        border-radius: 8px;
      }
    }

    .link-item {
      font-size: 14px;
      font-weight: 500;
      text-decoration: underline;
    }
  }
}