* {
  outline: none !important;
}

html {
  min-height: 100%;
}

body {
  min-height: 100vh;
  line-height: 1.8em;
  overflow-x: hidden;
  word-break: break-word;
  font-size: 16px;
  color: $color-primary;
  font-family: $font-family-text;
  font-weight: 400;
  @include flexbox();
  @include flex-direction(column);

  &.admin-bar {
    .active-absolute-nav {
      margin-top: 32px;
    }
  }
}

.sticky-footer {
  flex: 1 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px;
  font-weight: 500;
  color: $color-title;
  line-height: 1.4em;
  letter-spacing: -0.05em;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

a {
  color: $color-link;
  text-decoration: none;
  @include transition();

  &:hover {
    color: $color-title;
  }
}

p {
  margin: 0 0 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

iframe {
  max-width: 100%;
}

blockquote {
  border-left: 2px solid $color-hover;
  padding-left: 18px;
}

pre {
  white-space: pre-wrap;
  margin-bottom: 30px;
}

.wp-block-image {
  margin: 0 0 25px;
}

.nav {
  > li {
    > a {
      &:focus {
        background-color: transparent;
      }
    }
  }
}

.form-control {
  &:focus {
    border-color: $color-hover;
    @include box-shadow(none);
  }
}

#site-loadding {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #ffffff;
  z-index: 99999;
}

#back-top {
  background-color: $background-hover;
  opacity: 0;
  width: 40px;
  height: 40px;
  bottom: 0;
  cursor: pointer;
  position: fixed;
  right: 15px;
  z-index: 1000;
  @include transition();

  a {
    display: block;
    color: #ffffff;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    @include transition(all 0.25s ease-in-out);
  }

  &.active_top {
    opacity: 1;
    bottom: 15px;
  }

  &:hover {
    background-color: $background-primary;
  }
}

.custom-row {
  margin-left: -4px;
  margin-right: -4px;
}

.custom-col {
  padding-left: 4px;
  padding-right: 4px;
  margin-bottom: 8px;
}

/* Social network */
.social-network-item {
  display: inline-block;
  margin-right: 5px;

  &:last-child {
    margin-right: 0;
  }

  a {
    display: block;
    color: #ffffff;
  }

  &.item-facebook {
    background-color: #3b5998;
  }

  &.item-twitter {
    background-color: #1da1f2;
  }

  &.item-youtube {
    background-color: #cd201f;
  }

  &.item-instagram {
    background-color: #e4405f;
  }
}

.social-network-toTopFromBottom {
  .social-network-item {
    overflow: hidden;

    &:hover {
      i {
        -webkit-animation: toTopFromBottom 0.4s forwards;
        -moz-animation: toTopFromBottom 0.4s forwards;
        animation: toTopFromBottom 0.4s forwards;
      }
    }
  }
}

@-webkit-keyframes toTopFromBottom {
  49% {
    -webkit-transform: translateY(-100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(100%);
  }
  51% {
    opacity: 1;
  }
}

@-moz-keyframes toTopFromBottom {
  49% {
    -moz-transform: translateY(-100%);
  }
  50% {
    opacity: 0;
    -moz-transform: translateY(100%);
  }
  51% {
    opacity: 1;
  }
}

@keyframes toTopFromBottom {
  49% {
    transform: translateY(-100%);
  }
  50% {
    opacity: 0;
    transform: translateY(100%);
  }
  51% {
    opacity: 1;
  }
}

.line {
  height: 1px;
  background-color: #D3D3D3;
}

/* owl carousel navigation */
.owl-carousel {
  .owl-nav {
    text-align: center;
    margin-top: 15px;

    button {
      position: relative;

      &.owl-next {
        display: inline-block;
        margin-left: 10px;
      }
      &.owl-prev {
        display: inline-block;
        margin-right: 10px;
      }

      i {
        color: $color-three;
        font-size: 24px;
        line-height: inherit;
        @include transition();

        &:hover {
          color: rgba(0,0,0,0.2);
        }
      }
    }
  }

  .owl-dots {
    margin-top: 30px;
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);

    .owl-dot {
      display: inline-block;
      margin: 0 10px;

      span {
        display: block;
        width: 10px;
        height: 10px;
        background-color: #DBDBDB;
        @include border-radius(50%);
        @include transition();
      }

      &.active,
      &:hover {
        span {
          background-color: $background-primary;
        }
      }
    }
  }
}

.custom-equal-height-owl {
  .owl-stage {
    @include flexbox();

    .owl-item {
      @include flexbox();
      @include flex(1 0 auto);
      @include align-items(center);
      @include justify-content(center);
    }
  }
}

/* Breadcrumbs */
.breadcrumbs {
  text-align: center;

  .heading {
    margin-bottom: 0;
    font-weight: 400;
  }

  &.breadcrumbs-type {
    padding: 84px 12px 84px 12px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("assets/images/bk-bredcrumbs.jpg");

    .heading {
      color: #ffffff;
    }

    .breadcrumbs-col {
      color: rgba(255,255,255,0.7);

      span,
      a {
        color: rgba(255,255,255,0.7);
      }
    }
  }
}

/* Loader */
.load-data {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.loader {
  border: 5px solid $background-primary;
  border-top-color: $background-second;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.topToBottom {
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
}

.topToBottom {
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}

.elementor {
  .box-img-height {
    height: 300px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}