@media (min-width: 1400px) {
  .container {
    max-width: 1224px;
  }
}

@media ( max-width: 1399px ) {

  .element-testimonial-carousel {
    .item-box {
      @include flex-direction(column);

      .item-img {
        width: 100%;
        margin-bottom: 15px;
      }

      .item-content {
        padding: 0;
      }
    }
  }

}

@media (min-width: 1200px) and (max-width: 1399px) {

  .element-contact-us {
    padding-left: 30px;
    padding-right: 30px;
  }

}

@media (min-width: 1200px) and (max-width: 1280px) {

  .site-menu {
    > ul {
      > li {
        > a {
          font-size: 14px;
          padding: 0 12px;
        }
      }
    }
  }

}

@media (min-width: 1200px) {
  .container-fluid {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (max-width: 1199px) {

  .container {
    max-width: none;
  }

  .element-post-carousel {
    .owl-carousel {
      .owl-nav {
        display: none;
      }
    }
  }

  .element-testimonial-carousel {
    .owl-carousel {
      .owl-nav {
        button {
          display: none;
        }
      }
    }
  }

}

@media (min-width: 992px) and (max-width: 1400px) {

  .site-menu ul li:nth-last-child(1),
  .site-menu ul li:nth-last-child(2) {
    .sub-menu {
      left: auto;
      right: 0;

      li {
        .sub-menu {
          left: auto;
          right: 90%;
        }

        &:hover {
          > .sub-menu {
            left: auto;
            right: 100%;
          }
        }
      }
    }
  }

}

@media (min-width: 992px) and (max-width: 1199px) {

  .site-menu {
    ul {
      li {
        a {
          padding: 0 7px;
        }
      }
    }
  }

  .element-project-box {
    .item-post {
      &__left {
        padding-top: 16px;

        .title {
          font-size: 16px;
        }
      }
    }
  }

}

@media (min-width: 992px) {

  .active-sticky-nav {
    position: sticky;
    top: 0;
    z-index: 10;
  }

  .admin-bar {
    .main-navigation {
      &.active-sticky-nav {
        top: 32px;
      }
    }
  }

  .site-menu {
    > ul {
      height: 100%;

      > li {
        display: inline-flex;
        height: 100%;
        @include align-items(center);
      }
    }

    ul {
      li {
        .sub-menu {
          display: block !important;
        }
      }
    }
  }

  .modal {
    &.mode-quick-view-product {
      .modal-dialog {
        max-width: 850px;
      }
    }
  }

  .site-header {
    &.active-absolute-nav {
      .site-menu {
        > ul {
          > li {
            > a {
              color: #ffffff;
            }
          }
        }
      }
    }
  }

}

@media (max-width: 991px) {

  .site-navigation_warp {
    display: block;
  }

  .site-logo {
    @include flexbox();
    @include justify-content(space-between);
    @include flex(1);
  }

  .navbar-toggle {
    float: none;
    margin: 0;
    padding: 0;
    display: block;
  }

  .site-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #eeeeee;
    z-index: 99;

    .collapse {
      display: none !important;

      &.in {
        display: block !important;
      }
    }

    ul {
      li {
        display: block;
        padding: 0 15px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        &:last-child {
          border-bottom: 0;
        }

        a {
          display: inline-block;
          padding: 15px 0;
        }

        .sub-menu {
          display: none;
          position: static;
          opacity: 1;
          visibility: visible;
          border-top: 0;
          padding-top: 0;
          background-color: transparent;
          @include box-shadow(none);
          @include transform(translateY(0));
          @include transition-duration(0s);

          li {
            border-bottom: 0;
            padding: 8px 0;
            border-bottom: 1px solid #E3E3E3;

            a {
              padding: 0 0 0 20px;
              border-bottom: none;
            }

            .icon_menu_item_mobile {
              top: 5px;
              right: 0;
            }

            &:first-child {
              padding-top: 0;
            }

            &:last-child {
              border-bottom: none;
            }
          }
        }
      }
    }

    > ul {
      > li {
        a {
          &:before {
            display: none;
          }
        }
      }
    }
  }

  .icon_menu_item_mobile {
    display: block;
  }

  .active-absolute-nav {
    background-color: rgba(0,0,0,0.5);

    .main-navigation {
      button {
        &.navbar-toggler {
          i {
            color: #ffffff;
          }
        }
      }
    }
  }

  .element-slides {
    &__item {
      &--heading {
        font-size: 22px;
      }

      &--description {
        font-size: 20px;
      }
    }

    &__project {
      bottom: 5px;

      .title-project {
        font-size: 16px;
        margin-bottom: 10px;
      }

      .icon {
        margin-bottom: 0;

        img {
          width: 30px;
        }
      }

      .slider-quick-project {
        .item-post {
          &__thumbnail {
            margin: 4px;
          }
        }

        .slick-arrow {
          z-index: 2;

          &.slick-prev {
            left: 8px;
          }

          &.slick-next {
            right: 8px;
          }
        }
      }
    }
  }

  .element-product-grid {
    &__nav {
      ul {
        margin: 0 -4px;
        @include flexbox();
        @include flex-wrap(wrap);

        li {
          padding: 0 4px;
          margin: 0 0 8px;
        }
      }
    }
  }

  .element-project-box {
    .item-post {
      margin-bottom: 30px;

      &__left {
        padding: 0;

        .title {
          font-size: 18px;
        }
      }

      &__right {
        margin-bottom: 16px;
      }

      &:nth-child(odd) {
        .item-post {
          &__left {
            @include order(2)
          }
        }
      }

      &:nth-child(even) {
        .item-post {
          &__left {
            padding: 0;
          }
        }
      }
    }
  }

  .site-single-project {
    .project-info {
      margin-bottom: 25px;
    }
  }

}

@media (min-width: 768px) and (max-width: 991px) {

  .recent_posts_thumbs_widget_list .recent_posts_thumbs_widget_item,
  .recent_posts_thumbs_widget_fist_large .recent_posts_thumbs_widget_item:nth-child(n+2) {
    @include flex-direction(column);
  }

  .recent_posts_thumbs_widget_list .recent_posts_thumbs_widget_item--image,
  .recent_posts_thumbs_widget_fist_large .recent_posts_thumbs_widget_item:nth-child(n+2) .recent_posts_thumbs_widget_item--image {
    max-width: 100%;
    margin: 0 0 10px;
  }

  .recent_posts_thumbs_widget_grid {
    .recent_posts_thumbs_widget_item {
      width: 100%;
    }
  }

  .element-product-grid {
    &__nav {
      ul {
        li {
          width: 16.66666667%;
        }
      }
    }
  }

  .element-contact-us {
    padding-left: 30px;
    padding-right: 30px;
  }

  .site-single-project {
    .content {
      &__top {
        @include flex-direction(column);

        .title-item {
          font-size: 22px;
          margin-bottom: 12px;
        }
      }
    }
  }

}

@media (max-width: 767px) {

  .site-sidebar {
    padding-top: 50px;
  }

  .top-box-style {
    @include flex-direction(column);

    .heading {
      font-size: 22px;
      margin-bottom: 15px;
    }

    .owl-nav-custom {
      margin-bottom: 15px;
    }
  }

  .element-about-text {
    &__description {
      .image-text {
        display: none;
      }
    }
  }

  .element-video-popup {
    &:before {
      display: none;
    }
  }

  .element-testimonial-carousel {
    .heading {
      font-size: 24px;
    }
  }

  .element-product-grid {
    &__nav {
      ul {
        li {
          width: 33.33333333%;
        }
      }
    }
  }

  .site-sidebar {
    .sidebar {
      position: static !important;
      height: auto !important;

      &__inner {
        position: static !important;
        width: 100% !important;
        @include transform(none !important);
      }
    }
  }

  .element-service-detail-info {
    .heading,
    .title {
      font-size: 20px;
    }
  }

}

@media (min-width: 576px) and (max-width: 991px) {

  .element-slides {
    &__project {
      padding: 0 12px;

      .slider-quick-project {
        max-width: 700px;
      }
    }
  }

  .element-project-box {
    > div {
      margin: 0 -4px;
    }

    .item-post {
      padding: 0 4px;
    }
  }

}

@media (min-width: 576px) and (max-width: 767px) {

  .element-faq {
    .accordion {
      padding: 30px 24px;
    }
  }

  .element-project-gallery {
    .grid-item {
      width: 50% !important;
    }
  }

  .element-project-carousel {
    .top-box {
      .heading {
        font-size: 24px;
      }
    }

    &.style-1 {
      .owl-carousel {
        .owl-nav {
          top: -67px;

          button {
            i {
              font-size: 20px;
            }
          }
        }
      }
    }
  }

}

@media (max-width: 575px) {

  .comment-form {
    .comment-fields-row {
      margin-bottom: 0;
    }

    .form-comment-item {
      margin-bottom: 15px;
    }
  }

  .element-video-popup {
    &__warp {
      .play-video {
        width: 50px;
        height: 50px;
        line-height: 50px;

        i {
          font-size: 16px;
          @include transform(translateY(0px));
        }
      }
    }
  }

  .element-slides {
    &__project {
      padding: 0 12px;

      .slider-quick-project {
        max-width: none;
      }
    }
  }

  .element-faq {
    .accordion {
      padding: 24px 12px;

      .accordion-item {
        .accordion-collapse {
          margin-top: 16px;
          padding-right: 0;

          .accordion-body {
            padding: 16px 12px;
          }
        }
      }
    }
  }

  .element-contact-us {
    padding: 30px 12px;

    .title {
      font-size: 18px;
    }

    .sub-title {
      font-size: 22px;
    }

    .action {
      a.hotline {
        font-size: 18px;
      }
    }
  }

  .site-single-project {
    .content {
      &__top {
        .title-item {
          font-size: 18px;
        }
      }
    }
  }

  .element-project-gallery {
    .grid-item {
      width: 100% !important;
    }
  }

  .element-project-carousel {
    .top-box {
      padding-right: 55px;

      .heading {
        font-size: 20px;
        margin-right: 12px;
      }
    }

    &.style-1 {
      .owl-carousel {
        .owl-nav {
          top: -66px;

          button {
            i {
              font-size: 18px;
            }
          }
        }
      }
    }
  }

}

@media (max-width: 480px) {

  .comments-area {
    .comment-list {
      li {
        .comment-body {
          margin-bottom: 15px;

          .comment-meta {
            padding-left: 15px;
          }
        }
      }
    }

    ul {
      li {
        ul {
          &.children {
            padding-left: 10px;
          }
        }
      }
    }
  }

  .element-product-grid {
    &__nav {
      ul {
        li {
          width: 50%;
        }
      }
    }
  }
}