.search-form {
  font-size: 12px;
}

.search-field {
  border: 1px solid $border-color;
  height: auto;
  padding: 9px 10px;
  @include border-radius(3px);
  @include box-shadow(none);
}

.search-submit {
  background-color: $color-hover;
  color: #fff;
  padding: 9px 10px;
  border: none;
  cursor: pointer;
  @include border-radius(3px);
  @include transition();
}

section {
  &.widget {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    .widget-title {
      text-transform: uppercase;
      margin-bottom: 20px;
      font-size: 18px;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        &:not(:last-child) {
          margin-bottom: 10px;
        }

        a {
          display: block;
        }

        ul {
          &.children,
          &.sub-menu {
            padding-left: 15px;
            padding-top: 10px;

            li {
              border-bottom: 0;
              padding: 0 0 10px;

              &:last-child {
                padding-bottom: 0;
              }
            }
          }
        }
      }
    }

    select {
      width: 100%;
      padding: 9px 10px;
      font-size: 12px;
    }

    &.widget_search {
      .search-form {
        @include flexbox();

        .search-field {
          @include flex(1 auto);
        }

        .search-submit {
          margin-left: 10px;
        }
      }
    }

    &.widget_archive,
    &.widget_categories {
      ul {
        li {
          a {
            display: inline-block;
            margin-right: 5px;
          }
        }
      }
    }

    &.widget_calendar {
      table {
        width: 100%;

        caption {
          padding: 0;
          margin-bottom: 15px;
          text-align: center;
        }

        tr {
          border-bottom: 1px solid $border-color;

          th {
            text-align: center;
          }

          td {
            padding: 5px 0;
            text-align: center;

            &#today {
              background-color: $background-hover;
              color: #ffffff;

              a {
                color: #ffffff;
              }
            }

            &#prev {
              text-align: left;
            }

            &#next {
              text-align: right;
            }
          }
        }
      }
    }

    &.widget_rss {
      ul {
        li {
          padding-bottom: 20px;
          margin-bottom: 20px;

          .rssSummary {
            font-size: 12px;
          }
        }
      }
    }

    &.widget_tag_cloud,
    &.widget_product_tag_cloud {
      .tagcloud {
        a {
          display: inline-block;
          font-size: 13px !important;
          border: 1px solid #eee;
          padding: 5px 10px;
          margin: 0 2px 5px;

          &:hover {
            background-color: $background-hover;
            color: #ffffff;
            border-color: $background-hover;
          }
        }
      }
    }

    .social-network-item {
      margin-bottom: 10px;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      @include border-radius(50%);
    }

    &.sungarden_recent_post_widget {
      padding: 20px 20px 34px;
      background-color: #F7F7F5;
      border-radius: 5px;
      border: 1px solid rgba(114, 169, 90, 0.5);

      .widget-title {
        font-weight: 700;
        color: $color-three;
      }

      .post_widget_warp {
        .post_widget__item {
          margin-bottom: 11px;
          padding-bottom: 14px;
          border-bottom: 1px solid #D5D5D5;

          &:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: 0;
          }

          .item-image {
            width: 99px;
            height: 76px;
            overflow: hidden;
            @include flex(0 0 auto);

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .item-content {
            padding-left: 11px;
          }

          .item-title {
            margin: 0;
            font-size: 14px;
            font-weight: 500;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;

            a {
              color: $color-three;

              &:hover {
                color: $color-hover;
              }
            }
          }

          .item-meta {
            font-size: 12px;

            i.fa {
              margin-right: 5px;
            }
          }
        }
      }
    }

    &.sungarden_project_widget {
      .post_widget_warp {
        .item {
          position: relative;
          height: 214px;
          overflow: hidden;
          border-radius: 5px;
          margin-bottom: 10px;

          &:last-child {
            margin-bottom: 0;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          .link-full {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            @include transition();
          }

          .box-title {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 50%;
            background: rgba(0, 0, 0, 0.9);
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
            @include flexbox();
            @include flex-direction(column);
            @include justify-content(flex-end);
            @include transition();

            .box-content {
              height: 65%;
              @include flexbox();
              @include flex-direction(column);
              @include align-items(center);
              @include justify-content(center);
              @include transition();
            }

            .item-title {
              margin-bottom: 0;
              font-size: 16px;
              color: #ffffff;
              text-transform: uppercase;
              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
            }

            .item-place {
              color: #ffffff;
              font-size: 14px;
              font-weight: 500;
              letter-spacing: -0.01em;
            }
          }

          &:hover {
            .box-title,
            .box-content {
              height: 100%;
            }
          }
        }
      }
    }
  }
}