.site-single-project {
  .project-info {
    padding: 23px 20px 25px;
    background: #ffffff;
    border-radius: 10px;
    border: 1px solid rgba(114, 169, 90, 0.5);

    &__top {
      margin-bottom: 7px;

      .title {
        margin-right: 12px;
        margin-bottom: 0;
        text-transform: uppercase;
      }

      .line {
        height: 1px;
        background-color: #D3D3D3;
      }
    }

    &__detail {
      .list {
        margin-bottom: 10px;
        font-size: 15px;
        @include flexbox();

        &:last-child {
          margin-bottom: 0;
        }

        p {
          margin-bottom: 0;
        }

        .label {
          max-width: 150px;
          @include flex(0 0 150px);
          @include flexbox();
          @include align-items(center);

          span {
            margin-left: 8px;
          }
        }

        .text {
          font-weight: 500;
          @include flex(1);
        }
      }
    }
  }

  .content {
    &__top {
      margin-bottom: 12px;

      .title-item {
        margin: 0;
        font-size: 31px;
        color: $color-three;
      }

      .site-post-share {
        margin-bottom: 0;
      }
    }

    &__desc {
      line-height: 1.5em;
    }
  }
}