.footer-box-phone {
  position: fixed;
  left: 24px;
  bottom: 24px;
  z-index: 10;

  a {
    position: relative;

    span {
      color: #ffffff;
      font-weight: 500;
      background-color: #67b868;

      &.line,
      &.icon,
      i {
        width: 60px;
        height: 60px;
        line-height: 60px;
        border-radius: 50%;
      }

      &.line {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        border-radius: 50%;
        border: 5px solid rgba(255,255,255,0.5);
      }

      &.icon {
        position: relative;
        text-align: center;
        font-size: 18px;

        i {
          position: relative;
          z-index: 5;
          @include transition();
        }
      }

      &.phone {
        font-size: 14px;
        padding: 2px 15px 2px 25px;
        z-index: 2;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        @include transform(translate(-12px, 2px));
      }
    }

    &:hover {
      span {
        &.icon {
          i {
            @include transform(rotate(360deg));
          }
        }
      }
    }
  }
}

.site-footer {
  background-color: $background-footer;

  section {
    &.widget {
      margin-bottom: 15px;
      color: #ffffff;

      .widget-title {
        position: relative;
        color: #ffffff;
        font-weight: 500;
        font-size: 24px;
        text-transform: none;
        padding-bottom: 12px;

        &:after {
          position: absolute;
          content: "";
          bottom: 0;
          left: 0;
          width: 30px;
          height: 1px;
          background-color: $background-primary;
        }
      }

      a {
        &:hover {
          color: #ffffff;
        }
      }

      &.widget_nav_menu {
        ul {
          margin-left: 17px;
          list-style: disc;

          li {
            a {
              color: #ffffff;

              &:hover {
                color: $color-hover;
              }
            }
          }
        }
      }

      form {
        &.wpcf7-form {
          .wpcf7-form-control-wrap {
            margin-bottom: 6px;

            input,
            .wpcf7-textarea {
              padding: 6px 14px;
              color: rgba(255,255,255,0.5);
              border: 1px solid #5F5F5F;
              background-color: transparent;
            }
          }

          textarea {
            height: 80px;
          }

          .wpcf7-submit {
            font-size: 14px;
            font-weight: 500;
            color: $color-three;
            width: 100%;
            padding: 8px 7px;
            border-radius: 3px;
            background-color: #FFE025;
          }
        }
      }
    }
  }

  &__multi--column {
    border-top: 1px solid $border-color;
    padding: 86px 0 90px;
  }

  &__copyright {
    border-top: 1px solid $border-color;
    padding: 10px 0;
  }
}